.heading-primary {
    text-transform: uppercase;
    color: white;
    font-size: 4.5rem;
    letter-spacing: 1rem;
    margin-bottom: 3rem;
    backface-visibility: hidden;

    

    &--main {
        display: block;
        animation: moveInLeft 2s ease-out;
    }

    &--sub {
        display: block;
        font-weight: 900;
        color: $blue;
        animation: moveInRight 2s ease-out;

    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .2rem;
    color: white;
}

.underline {
    border-bottom: 5px solid $blue;
    width: 50%;
    margin: 0 auto;

}

.line {
    border-bottom: .5px solid black;
    margin: .5rem 0;
    width: 90%;
    
}