.heading-primary {
    text-transform: uppercase;
    color: white;
    font-size: 4.5rem;
    letter-spacing: 1rem;
    margin-bottom: 3rem;
    backface-visibility: hidden;

    @include respond(tab-port) {
        font-size: 3rem;
        letter-spacing: .3rem;
    }

  

    

    &--main {
        display: block;
        animation: moveInLeft 2s ease-out;
    }

    &--sub {
        display: block;
        font-weight: 900;
        color: $blue;
        animation: moveInRight 2s ease-out;

    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .2rem;
    color: white;
    margin-bottom: 5rem;
}

.underline {
    border-bottom: 5px solid $blue;
    width: 50%;
    margin: 0 auto;

}

.line {
    border-bottom: .5px solid black;
    margin: .5rem 0;
    width: 90%;
    
}

.line-2 {
    border-bottom: 1px solid $blue;
    margin: .5rem 0;
    width: 90%;
}

.line-3 {
    border-bottom: 1px solid $blue;
    margin: .5rem 0;
    width: 60%;
    margin: 0 auto 1rem auto;

    @include respond(tab-land) {
        margin: 0;
        width: 90%;
    }

    @include respond(tab-port) {
        margin: 0;
        width: 90%;
    }

    @include respond(height-land) {
        margin: 0;
        width: 90%;
    }

    @include respond(ipad-pro) {
        margin: 0;
        width: 90%;
    }
}

.heading-tertiary {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .2rem;
}