
.section-header {
    position: relative;
    height: 120vh;
}

.section-about {
    background-color: #1e242c;
    margin-top: -19rem;
    margin-bottom: -16rem;
    padding: 10rem 0;
    height: 120vh;
}

.section-project {
    padding: 1rem 0;
    background-image: url(../../img/mount-2.jpg);
    background-size: cover;
    height: 110vh;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-work {
    margin-top: -16rem;
    margin-bottom: -10rem;
    padding-top: 40rem ;
    padding-bottom: 25rem;
    background-image: linear-gradient(-45deg, #15161b, #768fb4, #721808, #7e7e81);
    animation: gradient 10s ease infinite;
    position: relative;
    z-index: -1;
}

.section-blog {
    padding: 5rem 0;
    margin-top: -18rem;
    background-color: rgb(70, 68, 68);
    background-size: cover;
    height: 80vh;

}

.section-contact {
    padding: 30em 0;
    margin-top: -18rem;
    background-color: rgb(70, 68, 68);
    background-size: cover;
    height: 120vh;

}