
.section-header {
    position: relative;
    height: 120vh;

    // @include respond(tab-land) {
    //     height: 100vh;
    // }
    // @include respond(tab-port) {
    //     height: 80vh;
    // }

    // @include respond(phone) {
    //     height: 59vh;
    // }

}

.section-about {
    background-color: #1e242c;
    margin-top: -19rem;
    margin-bottom: -16rem;
    padding: 1rem 0;
    height: 190vh;

    @include respond(big-desktop) {
        height: 195vh;
         //1rem = 12px, 12/16 = 75%
    }

     @include respond(ipad-pro) {
        height: 200vh;
        
    }

    @include respond(tab-land) {
        height: 120vh;
        
    }

    @include respond(tab-port) {
        height: 180vh;
        
    }

    @include respond(phone) {
        // height: 145vh;
        height: 90vh;
    }

    // @include respond(height-big) {
    //     height: 130vh;
    // }

    
    @include respond(height-land) {
        height: 150vh;
    }
    
    @include respond(height-port) {
        height: 400vh;
    }

}

.section-project {
    padding: 1rem 0;
    background-image: url(../../img/mount-2.jpg);
    background-size: cover;
    // background-position: top;
    position: relative;
    height: 140vh;
    // transform: skewY(-7deg);

    // & > * {
    //     transform: skewY(7deg);
    // }
   
    @include respond(tab-land) {
        //height: 70vh;
        height: 80vh;
    }


    @include respond(tab-port) {
        height: 225vh;
        // height: 165vh;
    }

    @include respond(phone) {
        height: 95vh;
        // height: 165vh;
    }

    @include respond(height-big) {
        height: 80vh;
    }
    @include respond(ipad-pro) {
        height: 230vh;
        
    }

    @include respond(height-land) {
        height: 190vh;
    }

    @include respond(height-port) {
        height: 230vh;
    }
}

.section-work {
    // margin-top: -16rem;
    margin-bottom: -10rem;
    padding: 10rem 0;
    // padding-bottom: 25rem;
    background-image: linear-gradient(-45deg, #15161b, #768fb4, #721808, #7e7e81);
    animation: gradient 10s ease infinite;
    position: relative;
    // z-index: -1;
}

.section-blog {
    padding: 30rem 0;
    margin-top: -18rem;
    background-color: rgb(44, 44, 46);
    // background-size: cover;
    // height: 80vh;

    @include respond(tab-land) {
        height: 50vh;
    }

    @include respond(tab-port) {
        // height: 145vh;
        height: 200vh;
        
    }
    @include respond(phone) {
        height: 85vh;
        
    }

    @include respond(ipad-pro) {
        height: 155vh;
        
    }

    @include respond(height-land) {
        height: 105vh;
    }

}

.section-contact {
    padding: 20em 0;
    margin-top: -5rem;
    background-color: rgb(44, 44, 46);
    background-size: cover;
    // height: 120vh;

    // @include respond(phone) {
    //     height: 80vh;
    // }
    

}