.blog {
    text-decoration: none;
    
    
    &__card {
        height: 41rem;
        background-color: white;
        box-shadow: 2px 2px 15px white;

        &:hover {
        opacity: .7;
    }
        
    }
    
    &__link {
        text-decoration: none;
        
        
            &-title {
                font-size: 1.6rem;
                color: black;
                padding: 0 .3rem;

            }
        
            &-date {
                text-decoration: none;
                color: $grey;
                padding: 0 .3rem;
            }
        
            &-text {
                text-decoration: none;
                font-size: 1.3rem;
                color: $grey;
                padding: 0 .3rem;
            }

    }

    &__img {
       width: 100%;
       height: 25rem;
    }

    
}