
.card {
    height: 35rem;
    box-shadow: 0 0rem 2rem white;
    background-color: white;
    border-radius: 3px;
    position: relative;
    margin-bottom: 5rem;

    &__picture {
        background-size: cover;
        height: 25rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &-0 {
            background-image: url('../../img/comingsoon.png');
        }
        &-1 {
            background-image: url('../../img/managelite.png');
        }
        &-2 {
            background-image: url('../../img/brewproject.png');
        }
        &-3 {
            background-image: url('../../img/instarecipes.png');
        }
        &-4 {
            background-image: url('../../img/bookraider.png');
        }

    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        position: absolute;
        top: 23rem;
        right: .5rem;
        width: 75%;
    }

     &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba(lightgrey, .85),
            rgba(grey, .85));
        }
    }

    &__tech {
        text-align: center;
        padding-top: 3rem;
        font-size: 1.8rem;
       
    }

    &__links {
        text-align: center;
        font-size: 1.6rem;
         color: #888888;
    }

    &__button {
        border: none;
        text-decoration: none;
        color: #888888;
    }

   

    
}